# .env
NODE_ENV=environment
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=projeto-graphql

AP_AUTH_SECRET=choose a secret

#.env.db
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=projeto-graphql
MYSQL_USER=
MYSQL_PASSWORD=